.tetris-ui_labelwrapper {
  display: inline-flex;
  height: 33px;
  align-items: center;

  &_label {
    width: 100px;
    display: flex;
    font-size: 14px;
    color: #000000d9;

    &--right {
      justify-content: flex-end;
    }

    &--center {
      justify-content: center;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &_content {
    flex: 1;
  }
}

.tetris-ui_labelwrapper.vertical {
  display: flex;
}

.tetris-ui_labelwrapper.horizontal {
  display: inline-flex;
}
