.title-layout {
  height: 100%;

  .title-content {
    position: relative;
    padding: 0 10px;
    height: calc(100% - 50px);
    overflow: auto;
    padding-top: 10px;

    .content-mask-not-edit {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #ffffff00;
      z-index: 100;
      width: 100%;
      cursor: not-allowed;
    }
  }
}
