.tetris-bricks_formeditor_scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.tetris-bricks_formeditor_scrollbar::-webkit-scrollbar-thumb {
  background: #0000001e;
}

.tetris-bricks_formeditor_scrollbar::-webkit-scrollbar-track {
  background: #f5f5f500;
}

.tetris-bricks_formeditor {
  overflow: hidden;
  background-color: #fff;
  height: 600px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 25px 0px rgb(206, 206, 206);

  // 顶部工具栏
  .toolbar {
    height: 50px;
    margin-bottom: 2px;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(216, 173, 173, 0.1);
  }

  // 中间主体区域
  .content {
    position: relative;
    display: flex;
    height: calc(100% - 53px);

    // 模板列表
    .templates {
      width: 360px;
      height: 100%;
      display: flex;

      &.hide {
        left: 0;
        position: absolute;
        transform: translateX(-100%);
      }

      .category {
        flex: 1;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;

        .title {
          height: 44px;
          font-size: 20px;
          line-height: 44px;
          color: #000;
          font-size: 15px;
          text-align: left;
          padding-left: 20px;
          font-weight: bold;
          user-select: none;
        }

        .list {
          flex: 1;
          overflow-y: auto;
          display: flex;
          align-content: flex-start;
          flex-wrap: wrap;
          padding: 0 10px;

          .item {
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
            padding: 5px;

            .item-content {
              border: 1px solid #dcdcdc;
              cursor: move;

              .preview {
                color: #686868;
                font-size: 20px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .name {
                box-sizing: border-box;
                padding: 0 3px;
                text-align: center;
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                background-color: #eee;
                color: #686868;
                text-overflow: ellipsis;
                overflow: hidden;
              }

              &:hover {
                color: #1890ff;
                border-color: #1890ff;

                .preview {
                  color: #1890ff;
                }
              }
            }
          }
        }
      }
    }

    // 模板的收缩与展开按钮
    .colla-outline {
      background-color: #f3f2f2a3;
      width: 25px;
      height: 100%;
      position: relative;
      color: #686868;

      .colla {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 80px;
        width: 25px;
        left: 0;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        &:hover {
          color: #1890ff;
        }
      }
    }

    // 表单放置的舞台
    .stage {
      flex: 1;
      height: 100%;
      overflow-y: auto;
      padding: 10px;
      background-color: #f3f2f2a3;
      user-select: none;

      &.empty-list {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .item {
        padding: 10px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        border: 1px solid #fff;
        display: flex;

        &:hover {
          border-color: #1890ff;
          .operator {
            display: inline-flex;
          }
        }

        .operator {
          width: 90px;
          height: 30px;
          padding: 6px;
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          cursor: pointer;
          align-items: center;
          display: none;
          background-color: #ffffff;
          justify-content: flex-start;
        }

        .label-wrapper {
          width: 155px;
          display: flex;
          font-size: 14px;
          justify-content: flex-end;
          color: #000000d9;

          &.required {
            &::before {
              content: '*';
              padding-right: 2px;
              color: #ff4d4f;
              font-size: 14px;
              font-family: SimSun, sans-serif;
              line-height: 1;
            }
          }

          &::after {
            content: ':';
            color: #555;
            padding-left: 4px;
            padding-right: 10px;
          }
        }

        .component-wrapper {
          flex: 1;
        }
      }

      .item-disabled {
        .sort-item {
          pointer-events: none;
        }
      }
    }
  }
}
